/**************** GLOBAL ****************/
 html {
  /* height: 100vh;
  overflow: hidden; */
  overflow-x: hidden;
}
body {
  /* width: 100vw;
  height: 100vh; */
  font-family: 'Trebuchet MS';
  font-size: 18px;
  color: #393e46;
  /* perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll; */
}
h1 {
  font-size: 40px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #393e46;
  position: relative;
}
hr {
  width: 100%;
  margin-bottom: 2em;
  background-color: #393e46;
}
/* a {
  color: #5985a6;
  transition: 0.3s;
  text-decoration: none !important;
}
a:hover {
  color: #9ab5c9 !important;
} */




/**************** NAVBAR ****************/
.navbar {
  position: relative;
}
.navbar-brand img {
  width: 125px;
  height: 125px;
  filter: drop-shadow(0px 0px 2px #eeeeee6a);
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255);
  border: 2px solid #fff;
  filter: drop-shadow(0px 0px 5px #fff);
}
.nav-item {
  margin-left: 0.75em;
  margin-right: 0.75em;
}
.nav-link, .nav-item .contact-btn {
  letter-spacing: 0.1em;
  transition: 0.1s;
  color: #fff !important;
  padding: 5px;
}
.nav-item .contact-btn {
  border: solid 1px #fff;
  border-radius: 20px;
  background: none;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}
.nav-item .contact-btn:hover {
  border-radius: 20px;
  background-color: #007bff;
  border: solid 1px #007bff;
  color: black !important;
  mix-blend-mode: lighten;
}
.nav-link:hover {
  /* text-shadow: 0px 0px 10px #eee; */
  color: #007bff !important;
}
.nav-link.disabled {
  color: #e4e4e4d1 !important;
}




/**************** FOOTER ****************/
.footer {
  background-color: #393e46;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #f8f8ff;
  letter-spacing: 0.1em;
  font-size: 14px;
}
.footer a {
  color: #f8f8ff;
  display: inline-block;
  margin-bottom: 0.1em;
}
.footer hr {
  background-color: #f8f8ff;
  margin-bottom: 0.75em;
  /*margin-left: 0;*/
  margin-top: 0.1em;
  text-align: left;
}
.legal {
  margin-top: 2em;
  color: #808080;
  text-align: center;
  font-size: 14px;
}




/**************** GENERAL ****************/
.centre {
  text-align: center;
}
.justify {
  text-align: justify;
}
.hidden {
  display: none;
}
.animated {
  opacity: 0;
}

.modal-open {
  padding-right: 0px !important;
}

.bg-img {
  overflow: hidden;
}
.bg-img::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 105%;
  margin: -7px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* filter: blur(1px); */
}
.content-box{
  background-color: #f2f2f2;
  border-radius: 2px;
}
.img-sec img {
  width: 100%;
  object-fit: cover;
}

.card-ap {
  border: none;
  box-shadow: 0 0 15px #fff;
  margin-bottom: 1em;
}
.card-ap .card-header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}
.card-ap .small-text {
  font-size: 14px;
}




/**************** LANDING ****************/
.landing-sec {
  position: relative;
  width: 100%;
  min-height: 50vh;
  padding-bottom: 1rem;
  /* z-index: 99 !important; */
}
.landing-text {
  position: relative;
  width: 60%;
  color: #fff;
  padding-top: 3em;
}
.landing-text h1 {
  color: #fff;
}





/**************** COLOURS ****************/
.biege {
  color: #fefae0 !important;
}




/**************** RESIZING ****************/
/* lg */
@media (max-width: 992px) {
  h1 {
    font-size: 32px;
  }
  body {
    font-size: 16px;
  }
  .landing-text {
    width: 90% !important;
    position: relative !important;
    top: 0 !important;
    transform: none !important;
  }
  .navbar-brand img {
    width: 100px;
    height: 100px;
  }
  .img-sec {
    display: none;
  }
}



/* Small 
@media (max-width: 992px){
  h1 {
    font-size: 40px;
  }

  .nav-item {
    margin-left: 0;
    margin-right: 0;
  }
  .nav-link {
    padding-left: 1em !important;
    transition: 0.5s;
  }
  .nav-link:hover {
    background-color: #588157;
    color: #fff !important;
  }
  .space-bottom--l {
    margin-bottom: 3em;
  }
}
@media (max-width: 768px){
  h1 {
    font-size: 36px;
}
  .space-bottom--l {
    margin-bottom: 2em;
  }
  .space-bottom--resize {
    margin-bottom: 1em !important;
  }
  .space-bottom--resize--lg {
    margin-bottom: 2em !important;
  }
  .header-banner h1 {
    font-size: 42px;
  }
}
@media (max-width: 576px){
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }

  .navbar {
    border-bottom: solid 2px #588157;
  }
  .footer {
    font-size: 16px !important;
  }
  .img-with-hr {
    width: 12%;
  }
  .hr--short {
    width: 38%;
    height: 1px;
  }
  .header-banner {
    display: none;
  }
  .header-title {
    display: block;
  }
  .title-with-icon {
    justify-content: left !important;
  }
  .title-with-icon img {
    width: 35px !important;
    height: 35px !important;
  }
}

@keyframes banner-blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(2.5px);
    -moz-filter: blur(2.5px);
    -o-filter: blur(2.5px);
    -ms-filter: blur(2.5px);
  }
}
*/
