/**************** GENERAL ****************/
.sec {
  z-index: 99;
  position: relative;
  background-color: #fff;
}




/**************** LANDING ****************/
.landing-sec {
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding-bottom: 1rem;
  /* z-index: 99 !important; */
}
.landing-text {
  position: absolute;
  top: 55%;
  transform: translate(0, -50%); 
  width: 40%;
  color: #fff;
}
.landing-text h1 {
  font-size: 32px;
  color: #fff;
}
.landing-sec::before {
  background-image: url("../media/home_landing.webp");
}




/**************** REVIEWS ****************/
.reviews-sec {
  width: 100%;
  min-height: 60vh;
  /* box-sizing: border-box;
  transform-style: preserve-3d; */
}
.reviews-sec::before {
  background-image: url("../media/reviews_background.webp");
}
/* .reviews-sec .bg-img {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  position: absolute;
  z-index: -1 !important;
}  */
#review-carousel {
  position: relative;
}
#review-carousel .carousel-item {
  height: 450px;
  position: relative;
}
.review-box {
  border-radius: 5px;
  padding: 25px;
  min-height: 200px;
  width: 500px;
  background-color: #fefae0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.review-box p {
  margin-bottom: 0;
}
.fa-shield-dog {
  color: #007bff;
}




/**************** LOCATIONS ****************/
.location-sec::before {
  background-image: url("../media/locations.webp");
}
.location-sec h1 {
 color: #0057b8;
}
#cat-only {
  line-height: normal;
}
.card-ap .fa-location-dot {
  margin-right: 0.5em;
  color: #d32525;
}
.card-ap .list-group-item {
  padding: .3rem 1.25rem;
}




/**************** RESIZING ****************/
/* lg */
@media (max-width: 992px) {
  .landing-sec {
    min-height: 90vh;
  }
  .review-box {
    width: 80%;
    font-size: 16px;
    padding: 10px;
  }
  .review-box h4 {
    font-size: 18px;
  }
}



/* #review-carousel .carousel-item {
  height: 400px;
} */

/* 
#reviewCarousel .carousel-indicators {
  position: absolute;
  bottom: -2em;
}
#reviewCarousel .carousel-control-prev {
  position: absolute;
  left: -4em;
}
#reviewCarousel .carousel-control-next {
  position: absolute;
  right: -4em;
}
#reviewCarousel .carousel-inner p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} */

/* Large Resizing
@media (max-width: 992px) {
  .img-carousel .carousel img {
    height: 500px;
  }
  .carousel-text {
    top: 20%;
  }
  #cindy-img {
    display: none;
  }
}

@media (max-width: 767px){
  .space-bottom--l {
    margin-bottom: 2em;
  }
  .carousel {
    display: none;
  }
  .img-sec {
    display: none;
  }
  .small-review {
    display: block;
  }
}

@media (max-width: 576px){

}

@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
  }
}
 */